p {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}


#tracker-today p {
    font-size: 15px;
    padding: 0 10px;
    margin-bottom: 0;
}

.counter-button {
    border: 2px solid #ffd520;
    background: none;
    height: 40px;
    display: flex;
    align-items: center;
    width: 40px;
    justify-content: center;
    display: inline;
    font-weight: bold;
    line-height: 0;
    margin-right: 5px;
}

#food-search {
    border: 2px solid #d8d8d8;
    padding: 10px 15px;
    font-size: 1rem;
    margin-right: 5px;
}

.search-serving {
    color: #e21833!important;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.search-serving:hover {
    text-decoration: underline!important;
}

.search-food {
    font-size: 16px;
}

.search-food:hover {
    font-weight: bold;
    cursor: pointer;
}

.low-ratio {
    padding: 3px;
    margin: 4px 0;
}

.low-ratio-cholesterol {background: red}
.low-ratio-sodium {background: orange}
.low-ratio-carbs {background: yellow}