body, html {font-family: 'Lato', sans-serif;}
h1, p {margin:0;padding:0;}
p {font-size: 13px}
.main {margin:auto;width: max(50vw,800px);margin-top:60px}
.content {display:flex;margin-top:10px;}

button {background:none;border: 1px solid #adbcc7;font-family: 'Lato', sans-serif;border-radius:3px;transition:.1s background}
button:hover {cursor: pointer;background:#adbcc724}
button:active {filter:brightness(85%)}
.access {display: flex;}
.message p {margin: 10px 40px 10px 0px}
.text p {margin: 0;margin-bottom: 10px;height:16px;}
.text {margin-left: 6px;}
.weight-point {background: blue; width: 5px; height: 5px; position: absolute;border-radius: 6px;}
.weight-graph {padding: 5px;position: relative; height: 300px; width: 500px;border: 1px solid #ccc}
.weight-graph-container {display: flex;}
.weight-graph-side {display: flex;flex-direction: column;justify-content: space-between;}

.item {border-bottom: 1px solid #ccc;;padding: 4px;margin-bottom: 4px;}
.date {display: flex;align-items: center; gap: 8px;}
.table {padding: 16px; border: 1px solid #ccc;margin-top: 16px;}